@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 5rem;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}


/* utility classes */

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 5px 10px;
}

/* end of utility classes */

.main-container {
    margin: 0 auto;
    padding: 50px;
    width: 80vh;
    background-color: #F3F0E9;
    border: solid 1px #9DA58F;
    border-radius: 10px 100px / 120px;
}

p {
    margin: 10px;
}

h1 {
    color: #9DA58F;
}

span {
    margin: 0 2px;
}

button {
    font-size: 1em;
    background-color: #9DA58F;
    color: #F3F0E9;
    border: solid 1px #BAC5BE;
    border-radius: 10px 100px / 120px;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

